<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Xobex.Web.Components</title>
    <link rel="stylesheet" href="~/lib/devextreme/css/dx.dark.compact.css" />
    <link rel="stylesheet" href="~/css/icons/fabric/fabric.css" />
    <link rel="stylesheet" href="~/css/icons/fluent/fluent.css" />
    <link rel="stylesheet" href="~/css/icons/material/material.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/Xobex.Web.Components.styles.css" asp-append-version="true" />

    <script type="text/javascript" src="~/lib/devextreme/js/cldr.min.js"></script>
    <script type="text/javascript" src="~/lib/devextreme/js/cldr/event.min.js"></script>
    <script type="text/javascript" src="~/lib/devextreme/js/cldr/supplemental.min.js"></script>

    <script type="text/javascript" src="~/lib/devextreme/js/globalize.min.js"></script>
    <script type="text/javascript" src="~/lib/devextreme/js/globalize/message.min.js"></script>
    <script type="text/javascript" src="~/lib/devextreme/js/globalize/number.min.js"></script>
    <script type="text/javascript" src="~/lib/devextreme/js/globalize/currency.min.js"></script>
    <script type="text/javascript" src="~/lib/devextreme/js/globalize/date.min.js"></script>

    <script type="text/javascript" src="~/lib/devextreme/js/dx.all.debug.js"></script>
    <script type="module" src="~/js/icons/fabric.js"></script>
    <script type="module" src="~/js/icons/material.js"></script>
    <script type="module" src="~/js/icons/fluent.js"></script>
    <style type="text/css">
        .x-app-container {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="x-app-container">
        <div style="height:48px;background-color:var(--x-neutralLighterAlt);display:block;width:100%;"></div>
        <div style="flex: 1 1 0;margin:0;overflow:hidden;position:relative;">
            <div style="position:absolute;left:0;top:0;right:0;bottom:0;display:flex;flex-direction:row;">
                <div style="flex:0 0 0;min-width:48px;max-width:48px;height:100%;background-color:var(--x-neutralLighterAlt)"></div>
                <div style="flex:1 1 0;height:100%;position:relative">
                    <div style="position:absolute;left:0;right:0;top:0;bottom:0;display:flex;flex-direction:column;">
                        <div style="flex: 0 0 0;min-height:36px;width:100%;background-color:var(--x-neutralLighter);">
                        </div>
                        <div style="flex: 0 0 0;min-height:40px;width:100%;background-color:var(--x-neutralLighterAlt);">
                        </div>
                        <div style="flex: 1 1 0;width:100%;position:relative;">
                            <div style="position:absolute;left:0;right:0;top:0;bottom:0;display:flex;flex-direction:row;">
                                <div style="flex: 0 0 0;min-width:360px;background-color:var(--x-neutralLighter);"></div>
                                <div style="flex: 0 0 0;min-width:4px;background-color:var(--x-neutralLighterAlt);"></div>
                                <div style="flex: 1 1 0;height:100%;position:relative;">
                                    <div style="position:absolute;left:0;right:0;top:0;bottom:0;overflow:auto;">
                                        <div class="container">
                                            <main role="main">
                                                @RenderBody()
                                            </main>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

