<div class="article">
    <header>
        <h1>Elevation</h1>
    </header>
    <div class="section x-depth-4">
        <div class="header">
            <h2>Depth</h2>
        </div>
        <div class="content">
            Depth (also referred to as elevation) is used to draw focus to an
            experience and add a physical materiality to the app. Shallow levels
            are reserved for items that are closely connected to the canvas or
            view, such as tiles. Deeper levels create a prominent frame around
            the surface, drawing strong focus to self-contained experiences like
            dialogs.
        </div>
        <div style="margin-top: 12px;">
            <table class="table">
                <colgroup>
                    <col style="width:10%;" />
                    <col style="width:20%;" />
                    <col style="width:20%" />
                    <col style="width:50%" />
                </colgroup>
                <thead class="head">
                    <tr class="row">
                        <th class="headerCell" style="width: 8%;">Level</th>
                        <th class="headerCell">Example</th>
                        <th class="headerCell" style="width: 25%;">Usage</th>
                        <th class="headerCell">Core class</th>
                    </tr>
                </thead>
                <tbody class="body">
                    <tr class="row">
                        <td class="cell" style="width: 8%;">4</td>
                        <td class="cell" style="width: 10%;">
                            <div class="compact example x-depth-4">
                                <span class="caption">Depth 4</span>
                            </div>
                        </td>
                        <td class="cell" style="width: 25%;">
                            <ul class="usageList">
                                <li class="usageListItem">Cards</li>
                                <li class="usageListItem">Grid item thumbnails</li>
                            </ul>
                        </td>
                        <td class="cell">
                            <code class="root-286">x-depth-4</code>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="cell" style="width: 8%;">8</td>
                        <td class="cell">
                            <div class="example compact x-depth-8">
                                <span class="caption">Depth 8</span>
                            </div>
                        </td>
                        <td class="cell" style="width: 25%;">
                            <ul class="usageList">
                                <li class="usageListItem">Command bars</li>
                                <li class="usageListItem">Command dropdowns</li>
                                <li class="usageListItem">Context menus</li>
                            </ul>
                        </td>
                        <td class="cell"><code class="root-286">x-depth-8</code></td>
                    </tr>
                    <tr class="row">
                        <td class="cell" style="width: 8%;">16</td>
                        <td class="cell">
                            <div class="example compact x-depth-16">
                                <span class="caption">Depth 16</span>
                            </div>
                        </td>
                        <td class="cell" style="width: 25%;">
                            <ul class="usageList">
                                <li class="usageListItem">Teaching callouts</li>
                                <li class="usageListItem">Search results dropdown</li>
                                <li class="usageListItem">Hover cards</li>
                                <li class="usageListItem">Tooltips</li>
                            </ul>
                        </td>
                        <td class="cell">
                            <code class="root-286">x-depth-16</code>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="cell" style="width: 8%;">64</td>
                        <td class="cell">
                            <div class="example compact x-depth-64">
                                <span class="caption">Depth 64</span>
                            </div>
                        </td>
                        <td class="cell" style="width: 25%;">
                            <ul class="usageList">
                                <li class="usageListItem">Panels</li>
                                <li class="usageListItem">Pop up dialogs</li>
                            </ul>
                        </td>
                        <td class="cell"><code class="root-286">x-depth-64</code></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="section x-depth-4">
        <div class="header">
            <h2>Implementation</h2>
        </div>
        <h3>Core (CSS classes)</h3>
        <div class="content">
            First, ensure that you've loaded the Fabric Core stylesheet following the getting started instructions.
            <pre><code class="language-markup line-numbers">&lt;div class="ms-depth-8"&gt;&lt;/div&gt;</code></pre>
        </div>

    </div>
</div>
